.genClass8517 { 
  background-color: rgb(128, 128, 128);
}

.buttonCCB { 
  background-color: rgb(128, 128, 128);
}

.genClass1086 { 
  top: 0px;
  left: 40px;
}

.homeLogo { 
}

.ccbHome { 
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 200px;
}

.genClass5912 { 
  background-image: url("../img/calendar music.png");
}


.genClass7848 { 
}

.genClass9163 { 
  background-color: rgb(192, 192, 192);
}

.genClass7293 { 
  background-image: url("../img/music.jpg");
}

.genClass4078 { 
  background-image: url("../img/ensaio.png");
}

.genClass9673 { 
  background-color: rgb(192, 192, 192);
}

.genClass2189 { 
  background-color: rgb(0, 0, 0);
}

.genClass1234 { 
  color: rgb(0, 0, 0);
}

.genClass1011 { 
  background-color: rgb(192, 192, 192);
}

.genClass5038 { 
  background-color: rgb(0, 0, 0);
}

.genClass6793 { 
  background-color: rgb(192, 192, 192);
}

.genClass9203 { 
  background-color: rgb(0, 0, 0);
}

.genClass4322 { 
  background-color: rgb(192, 192, 192);
}

.genClass3872 { 
  background-color: rgb(0, 0, 0);
}

.genClass4412 { 
  color: rgb(0, 0, 0);
}

.genClass7694 { 
  color: rgb(0, 0, 0);
}

.genClass7088 { 
  color: rgb(0, 0, 0);
}

.genClass8297 { 
  text-align: left;
}

.genClass2013 { 
  background-color: rgb(128, 0, 255);
}
